.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: auto;
  flex: 1 1 auto;
  background-color: #e2e2e2;
  border-radius: 3px;
  padding: 5px;
}
.imgContainer {
  z-index: 0;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  width: auto;
  height: 100%;
  overflow: hidden;
}
.weatherImg {
  display: flex;
  width: auto;
  height: auto;
  object-fit: contain;
}
.dataContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 15px;
  padding: 5px;
}
p {
  position: relative;
  z-index: 1;
}

.date {
  font-size: 16px;
  font-weight: 700;
  color: rgb(16, 16, 160);
  margin: 5px 5px 0;
}
.temp {
  font-size: 16px;
}
.other {
  padding: 3px 5px;
  background-color: rgba(0, 34, 255, 0.15);
  border-left: 5px solid rgb(16, 16, 160);
}
.other>p{
  font-size: 16px;
}