.container {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  height: auto;
  padding: 20px;
  margin: 50px auto;
  border: 2px solid rgb(204, 204, 204);
  border-radius: 4px;
  box-shadow: 10px 10px 15px 10px rgba(10, 8, 91, 0.3);
  background-color: rgb(255, 255, 255);
}
.cityName{
  font-size: 36px;
  font-weight: 400;
  color: rgb(16, 16, 174);
}
.description {
  margin: 5px 0;
  font-size: 24px;
}
.temp{
  font-size: 48px;
}
.imgContainer{
  width: 30%;
  object-fit: contain;
}
.weatherImg{
  display: flex;
  width: 100%;
  height: auto;

}
